model_name = "landscape"

path_to_ssh_key = "/home/ubuntu/.ssh/id_ed25519.pub"

hostname = "landscape"

domain = "example.com"

admin_name = "Landscape Admin"

admin_email = "admin@example.com"

admin_password = "SuP3R!$eCur3_PWd*"

registration_key = "key"
